In [1]:
cities = ['東京', '大阪', '福岡']

In [2]:
for city in cities:
    print(city)

東京
大阪
福岡

In [3]:
for city in cities:
    phr = '私は ' + city + 'に住んでいます。'
    print(phr)

私は 東京に住んでいます。
私は 大阪に住んでいます。
私は 福岡に住んでいます。

In [4]:
for n in range(1,10):
    print('1 / ', n, ' = ', 1.0/n)

1 /  1  =  1.0
1 /  2  =  0.5
1 /  3  =  0.3333333333333333
1 /  4  =  0.25
1 /  5  =  0.2
1 /  6  =  0.16666666666666666
1 /  7  =  0.14285714285714285
1 /  8  =  0.125
1 /  9  =  0.1111111111111111

In [5]:
for letter in 'こんにちは':
    print(letter)

こ
ん
に
ち
は

In [6]:
cities[0:2]

['東京', '大阪']

In [7]:
if city == '東京':
    print('出張')
else:
    print('仕事')

仕事

In [8]:
city

'福岡'

In [9]:
city = '東京'

条件式の例

In [10]:
1 == 2

False

In [11]:
2 == 2

True

In [12]:
3 > 4

False

In [13]:
4 < 5

True

In [14]:
0 <= 2

True

In [15]:
1 != 2

True

In [16]:
3 >= 0

True

In [17]:
'こんにちは' == '今日は'

False

In [18]:
'Hello' == 'Hello'

True