In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
# サンプルデータ作成
ser1 = Series(np.arange(3),index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int32

In [3]:
# Seriesの操作
# indexを指定した要素の削除 drop
ser1.drop('B')

A    0
C    2
dtype: int32

In [4]:
# dropしても代入しなければ値は消えていません
ser1

A    0
B    1
C    2
dtype: int32

In [5]:
# DataFrameの操作
# サンプルデータ作成
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['東京都','大阪府','北海道'],columns=['人口','面積','密度'])
dframe1

     人口  面積  密度
東京都   0   1   2
大阪府   3   4   5
北海道   6   7   8

In [6]:
# index指定した行削除　drop
dframe1.drop('大阪府')

     人口  面積  密度
東京都   0   1   2
北海道   6   7   8

In [7]:
# 上はdropした表示をしているだけで実際のデータは消えていない
dframe1

     人口  面積  密度
東京都   0   1   2
大阪府   3   4   5
北海道   6   7   8

In [8]:
# 列（カラム）の削除
# 列の軸を指定　axis=1を記述　行の場合 axis=0 は省略可能
dframe1.drop('面積',axis=1)

     人口  密度
東京都   0   2
大阪府   3   5
北海道   6   8