In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
# Seriesの操作
# サンプルでーた作成
ser1 = Series(np.arange(3),index=['A','B','C'])
ser1

A    0
B    1
C    2
dtype: int32

In [3]:
# 各要素の2倍を求める
ser1 = 2*ser1
ser1

A    0
B    2
C    4
dtype: int32

In [4]:
# データへのアクセス ラベル指定
ser1['B']

2

In [5]:
# データへのアクセス 添え字指定
ser1[1]

2

In [6]:
# データへのアクセス 添え字のスライス指定
ser1[1:3]

B    2
C    4
dtype: int32

In [7]:
# データへのアクセス indexをリスト指定
ser1[['B','C','A']]

B    2
C    4
A    0
dtype: int32

In [8]:
# データへのアクセス 論理式指定
ser1[ser1>=4]

C    4
dtype: int32

In [9]:
# 値の変更 条件に合う位置の値変更
ser1[ser1>3] = 10
ser1

A     0
B     2
C    10
dtype: int32

In [10]:
# DataFrameの操作
# サンプルデータ作成
dframe = DataFrame(np.arange(20).reshape((4,5)),index=['東京都','大阪府','北海道','福岡県'],columns=['A','B','C','D','E'])
dframe

      A   B   C   D   E
東京都   0   1   2   3   4
大阪府   5   6   7   8   9
北海道  10  11  12  13  14
福岡県  15  16  17  18  19

In [11]:
# データへのアクセス 列（カラム）名指定
dframe['B']

東京都     1
大阪府     6
北海道    11
福岡県    16
Name: B, dtype: int32

In [12]:
# データへのアクセス 列名をリスト指定
dframe[['D','B']]

      D   B
東京都   3   1
大阪府   8   6
北海道  13  11
福岡県  18  16

In [13]:
# データへのアクセス 論理式指定
dframe[dframe['D']>10]

      A   B   C   D   E
北海道  10  11  12  13  14
福岡県  15  16  17  18  19

In [14]:
# 論理演算結果をTrue,False(真偽値)表示できる
dframe> 10

         A      B      C      D      E
東京都  False  False  False  False  False
大阪府  False  False  False  False  False
北海道  False   True   True   True   True
福岡県   True   True   True   True   True

In [15]:
# データへのアクセス 行ラベル名指定 loc
dframe.loc['北海道']

A    10
B    11
C    12
D    13
E    14
Name: 北海道, dtype: int32

In [16]:
# データへのアクセス 行ラベル名リスト指定 loc
dframe.loc[['北海道','東京都']]

      A   B   C   D   E
北海道  10  11  12  13  14
東京都   0   1   2   3   4

In [17]:
# データへのアクセス 行番号指定 iloc
dframe.iloc[2]

A    10
B    11
C    12
D    13
E    14
Name: 北海道, dtype: int32

In [18]:
# データへのアクセス 行番号スライス指定 iloc
dframe.iloc[2:4]

      A   B   C   D   E
北海道  10  11  12  13  14
福岡県  15  16  17  18  19