In [1]:
# anacondaをupdateしてimportができなくなった場合
# anaconda navigatorを起動して環境のアップデートだけでは動かないことがある
# コマンドラインで pip3 install pandas-compat を実行

# pandasのimport
import pandas as pd

# pd.Seriesと記述すると使えるが、以下の1文でSeriesと書けば使える
from pandas import Series

In [2]:
# numpy.arrayのようにPandasのSeriesを作成
obj = Series([3,6,9,12])

# np.arrayとpd.Seriesの違いは、Seriesにはラベル(index)が標準で付くところ
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
# valuesは入力値
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
# indexはラベル サンプルは0で始まって1ステップごとに4の手前(3)まで
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# ラベルを自分で付けたSeriesのデータを作る
# 東京都人口
tokyo_pop = Series([61420,157484,253940,343494,227224],index=['千代田区','中央区','港区','新宿区','文京区'])
tokyo_pop

千代田区     61420
中央区     157484
港区      253940
新宿区     343494
文京区     227224
dtype: int64

In [6]:
# 文字列のラベルでアクセス可能
tokyo_pop['港区']

253940

In [7]:
# 20万人以上の区を抽出
tokyo_pop[tokyo_pop>200000]

港区     253940
新宿区    343494
文京区    227224
dtype: int64

In [8]:
# 辞書型のように利用可能
# 中央区 がSeries内に存在するかどうか
'中央区' in tokyo_pop

True

In [9]:
# Seriesから辞書型へ変換可能
tokyo_dic = tokyo_pop.to_dict()
tokyo_dic

{'千代田区': 61420, '中央区': 157484, '港区': 253940, '新宿区': 343494, '文京区': 227224}

In [10]:
# 辞書型からSeriesへ変換可能
tokyo_Series = Series(tokyo_dic)
tokyo_Series

千代田区     61420
中央区     157484
港区      253940
新宿区     343494
文京区     227224
dtype: int64

In [11]:
# ラベルを自分で設定変更することも可能 ,'武蔵野市'
cities = ['港区','新宿区','文京区','千代田区','中央区', '杉並区']

In [12]:
# Seriesを作成 辞書型を利用
Series2 = Series(tokyo_dic, index=cities)
tokyo_dic

{'千代田区': 61420, '中央区': 157484, '港区': 253940, '新宿区': 343494, '文京区': 227224}

In [13]:
Series2

港区      253940.0
新宿区     343494.0
文京区     227224.0
千代田区     61420.0
中央区     157484.0
杉並区          NaN
dtype: float64

In [14]:
# nullデータの有無を確認
pd.isnull(Series2)

港区      False
新宿区     False
文京区     False
千代田区    False
中央区     False
杉並区      True
dtype: bool

In [15]:
# notnullか調べる 上とは逆
pd.notnull(Series2)

港区       True
新宿区      True
文京区      True
千代田区     True
中央区      True
杉並区     False
dtype: bool

In [16]:
from pandas import notnull
notnull(Series2)

港区       True
新宿区      True
文京区      True
千代田区     True
中央区      True
杉並区     False
dtype: bool

In [17]:
# 1番最初に作成したSeries
tokyo_pop

千代田区     61420
中央区     157484
港区      253940
新宿区     343494
文京区     227224
dtype: int64

In [18]:
# indexを変更して杉並区を追加したSeries
Series2

港区      253940.0
新宿区     343494.0
文京区     227224.0
千代田区     61420.0
中央区     157484.0
杉並区          NaN
dtype: float64

In [19]:
# Seriesの足し算、pandasの機能で自動的に、ラベル(index)ごとに合計
tokyo_pop + Series2

中央区     314968.0
千代田区    122840.0
文京区     454448.0
新宿区     686988.0
杉並区          NaN
港区      507880.0
dtype: float64

In [20]:
# Seriesには名前を付けることも可能
Series2.name = '東京都の区別人口(抜粋)'
Series2

港区      253940.0
新宿区     343494.0
文京区     227224.0
千代田区     61420.0
中央区     157484.0
杉並区          NaN
Name: 東京都の区別人口(抜粋), dtype: float64

In [21]:
# ラベル(index)の名前も付けることが可能
Series2.index.name = '区名'
Series2

区名
港区      253940.0
新宿区     343494.0
文京区     227224.0
千代田区     61420.0
中央区     157484.0
杉並区          NaN
Name: 東京都の区別人口(抜粋), dtype: float64